.navbar{
    margin-top: 20px;
}

h2 {
    /* Put a 15-pixel margin at the bottom of the heading. */
    margin-bottom: 15px;
    /* Change the size of your font to 60 pixels high. */
    font-size: 50px;
    /* This will color the heading font white. */
    color: navy;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: left;
    /* Underline the text.
    text-decoration: underline; */
  }

  h3 {
    /* Put a 15-pixel margin at the bottom of the heading. */
    margin-bottom: 15px;
    /* Change the size of your font to 60 pixels high. */
    font-size: 30px;
    /* This will color the heading font white. */
    color: navy;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: left;
    /* Underline the text.
    text-decoration: underline; */
    /* The background of the heading element will now be black. */
    background-color: whitesmoke;
  }
  h4 {
    /* Put a 15-pixel margin at the bottom of the heading. */
    margin-bottom: 10px;
    /* Change the size of your font to 60 pixels high. */
    font-size: 20px;
    /* This will color the heading font white. */
    color: blue;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: left;
    /* Underline the text.
    text-decoration: underline; */
    /* The background of the heading element will now be black. */
    background-color: whitesmoke;
  }